:root{
  --height-block: 200px;
  --gap-blocks: 30px;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.title {
  position: fixed;
  top: 20px;
  left: 20px;
}

.title h1 {
  font-size: 10vh;
  margin: 0;
  line-height: 1;
  color: #323232;
}

.wrapper-intro {
  display: flex;
  width: 100%;
  min-height: calc(98vh - (var(--height-block) + var(--gap-blocks)));
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  gap: var(--gap-blocks) 0;
}

/* .wrapper *+* {
  margin-top: 2.5em;
} */

.box {
  width: 600px;
  max-width: 80%;
  height: var(--height-block);
  z-index: 6;
  /* transform-origin: top center; */
  padding: 15px;
  border-radius: 15px;
  background-color: #d2d2d2;
  color: white;
  transition: all 0s ease-out;
  box-shadow: 0 4px 12px #0000001a;
  will-change: transform,opacity,height;
}

.box:not(:first-child,:last-child) {
  /* --xxx : -120px; */
  --xxx: -60%;
  --init-scale: 0.8;
  --step-scale: calc(1 - var(--init-scale));

  --progress-n: calc(1 - var(--progress));
  --t-y: calc(var(--xxx) * var(--progress-n));
  --scale: calc(var(--init-scale) + (var(--progress) * var(--step-scale)));
  opacity: var(--scale);
  transform: translateY(var(--t-y)) scale(var(--scale));
}

.box:nth-child(2) {
  /* background-color: yellow; */
  z-index: 5;
}

.box:nth-child(3) {
  /* background-color: green; */
  z-index: 4;
}

.box:nth-child(4) {
  /* background-color: rgba(121, 19, 223); */
  z-index: 3;
}

.box:nth-child(5) {
  /* background-color: rgb(51, 56, 51); */
  z-index: 2;
}

.box:nth-child(6) {
  /* background-color: rgb(2, 8, 2); */
  z-index: 1;
}

#CSSProgress::before {
  content: "CSS " attr(style);
}

/* #CSSProgress {
  opacity: calc(1 - var(--progress));
  transform: scale(var(--progress));
} */

/* debug locomotive scroll beta 8*/

.c-scroll_offset {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

html .c-scroll_offset:before, html .c-scroll_offset:after {
  width: 100%;
  height: 1px;
}

.c-scroll_offset:before {
  background-color: rgb(217, 66, 66);
}

.c-scroll_offset:after {
  background-color: rgb(74, 166, 215);
}

.c-scroll_offset:before, .c-scroll_offset:after {
  content: "";
  position: absolute;
  z-index: 1;
}

html .c-scroll_offset:before {
  bottom: var(--offset-start);
}

html .c-scroll_offset:after {
  top: var(--offset-end);
}
